body {
	font-size: 16px;
	color: #fff;
	background-color: #B4F57B;
	font-family: 'Oxygen', sans-serif;
}

/** HEADER **/
#header-nav {
	background-color: #514453;
	border-radius: 0;
	border: 0;
}
/* Logo */
#logo-img {
	background: url('../images/logo/logo_OSA/large_marron_498X69.png') no-repeat;
	width: 498px;
	height: 69px;
	margin: 10px 15px 10px 0;
}
/* Navlist */
#nav-list {
	margin-top: 10px;
}
#nav-list a {
	color: #FFFFFF;
	text-align: center;
}
#nav-list a:hover, #nav-list a:focus {
	background-color: none;
	color: #DD5895;
}
.nav-menu a span {
	font-size: 1.8em;
}
/* Phone Numbers */
#phone a {
	text-align: right;
}
#phone a:nth-child(1) {
	padding-bottom: 0;
}
#phone a:nth-child(2) {
	padding-top: 10px;
}
/* Menu button color */
.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
	border: 1px solid #B4F57B;
}
/* END HEADER */

/* FOOTER */
.panel-footer {
	margin-top: 30px;
	padding-top: 35px;
	padding-bottom: 30px;
	background-color: #514453;
	border-top: 0;
}
.panel-footer div.row {
	margin-bottom: 35px;
}
.panel-footer section {
	margin-bottom: 30px;
	text-align: center;
}
#hours, #address {
	line-height: 2;
}
#hours > span, #address > span {
	font-size: 1.3em;
}
#testimonials {
	font-style: italic;
}
#fb-link {
	margin-top: 10px;
}
/* END FOOTER */

/* HOME PAGE */
.container .jumbotron {
	box-shadow: 0 0 50px #514453;
	border: 2px solid #514453;
}

#menu-tile, #specials-tile, #map-tile {
	height: 250px;
	width: 100%;
	margin-bottom: 15px;
	position: relative;
	border: 1px solid #514453;
	overflow: hidden;
}

#menu-tile:hover, #specials-tile:hover, #map-tile:hover {
	/* box-shadow: 0 1px 5px 1px #CCCCCC; */
	box-shadow: 0 1px 5px 1px #DD5895;
}
#menu-tile span:hover, #specials-tile span:hover, #map-tile span:hover {
	color: #DD5895;
}
#menu-tile {
	background: url('../images/plats/plat_360X250.jpg') no-repeat;
	background-position: center;
}
#specials-tile {
	background: url('../images/plats/dessert_360X250.jpg') no-repeat;
	background-position: center;
}

#menu-tile span, #specials-tile span, #map-tile span {
	position: absolute;
	bottom: 0;
	right: 0;
	width: 100%;
	text-align: center;
	font-size: 1.6em;
	text-transform: uppercase;
	background-color: #000;
	color: #FFF;
	opacity: .8;
}
/* END HOME PAGE */

/********** Large devices only **********/
@media (min-width: 1200px) {
	.container .jumbotron {
		background: url('../images/salle/jumbotron_1200.jpg') no-repeat;
		height: 675px;
	}
}

/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {
	/* HEADER */
	#logo-img {
		background: url('../images/logo/logo_OSA/medium_marron_390X52.png') no-repeat;
		width: 390px;
		height: 52px;
		margin: 15px 5px 5px 0;
	}
	/* END HEADER */
	.container .jumbotron {
		background: url('../images/salle/jumbotron_992.jpg') no-repeat;
		height: 558px;
	}
}

/********** Small devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
	/* HEADER */
	#logo-img {
		background: url('../images/logo/logo_OSA/small_marron_202X30.png') no-repeat;
		width: 202px;
		height: 30px;
		margin-top: 30px;
	}
/*	.nav-menu a {
		font-size: 0.9em;
	}
	.nav-menu a span {
		font-size: 0.9em;
		margin-right: 5px;
	}
	#phone a {
		font-size: 0.9em;
		}*/
		/* END HEADER */

		/* HOME PAGE */
		.container .jumbotron {
			background: url('../images/salle/jumbotron_768.jpg') no-repeat;
			height: 432px;
		}
		/* END HOME PAGE */
	}

	/********** Extra small devices only **********/
	@media (max-width: 767px) {
		/* HEADER */
		#logo-img {
			background: url('../images/logo/logo_OSA/small_marron_202X30.png') no-repeat;
			width: 202px;
			height: 30px;
			/*margin-top: 15px;*/
		}
		.nav-menu a { /* Collapsed nav menu glyph*/
			font-size: 1.2em;
		}
		.nav-menu a span {
			font-size: 1.2em;
			margin-right: 5px;
		}
		#call-btn > a {
			font-size: 1em;
			display: block;
			margin: 0 20px 5px 20px;
			padding: 10px;
			border: 2px solid #fff;
			background-color: #514453;
			color: #FFFFFF;
		}
		/* END HEADER*/

		/* FOOTER */
		.panel-footer section:nth-child(3){
			margin-bottom: 0; /* margin already exists on the whole row */
		}
		.panel-footer section hr {
			width: 50%;
		}
		/*END FOOTER */

		/* HOME PAGE */
		.container .jumbotron {
			margin-top: 30px;
			padding: 0;
		}

		#menu-tile, #specials-tile {
			width: 360px;
			margin: 0 auto 15px;
		}
		/* END HOME PAGE */

	}

	/********** Extra small - smartphone and tablet max **********/
	@media (min-width: 480px) and (max-width: 767px) {
		/* HEADER */
		#logo-img {
			background: url('../images/logo/logo_OSA/medium_marron_390X52.png') no-repeat;
			width: 390px;
			height: 52px;
			margin: 5px 5px 5px 0;
		}
		/* END HEADER */
	}
	/********** Extra small - custom (iPhone Retina) **********/
	@media (max-width: 479px) {
		/* HEADER */
		#logo-img {
			background: url('../images/logo/logo_OSA/small_marron_243X36.png') no-repeat;
			width: 243px;
			height: 36px;
		}
		/* END HEADER */

		/* HOME PAGE */
		#menu-tile, #specials-tile {
			width: 280px;
			margin: 0 auto 15px;
		}
		/* END HOME PAGE */
	}