<!-- Footer -->
<footer class="panel-footer">
  <div class="container">
    <div class="row">
      <section id="hours" class="col-sm-4">
        <span>Horaires :</span><br>
        Du lundi au samedi de 10h00 à 15h00<br>
        Fermé le dimanche
        <hr class="visible-xs">
      </section>
      <section id="address" class="col-sm-4">
        <span>Adresse :</span><br>
        72 rue Juliette Dodu<br>
        97400 Saint-Denis
        <hr class="visible-xs">
      </section>
      <section id="testimonials" class="col-sm-4">
        <p>"Restaurant de très bonne qualité. Tout est toujours très frais. Les desserts sont fait maison!"</p>
        <p>"L'accueil est très sympathique, et le cadre agréable, nous recommandons vivement."</p>
      </section>
    </div>
    <div class="text-center">
      &copy; Copyright 2016 La Caz à Salades
      <!-- Facebook link -->
      <div id="fb-link">
        <a href="https://www.facebook.com/pages/La-Caz-%C3%A0-Salades/608588899269479" target="_blank">
          <img class="img-responsive center-block" src="images/logo_facebook/png/FB-f-Logo__blue_29.png">
        </a>
      </div>
    </div>
  </div>    
</footer>